@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}
.geral{
    background-color:#4B010F;
    background-color: #4B010F;
    background-color: #5F0311;
    background-color: #720415;
    color: white;
}

.pagina00{
    background-color:#720415
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 24px ;
    
}

.cabecalho-menu{
    display: flex;
    gap: 25px;
    padding-top: 30px;
    
}

.perfil {
padding-inline-end: 5px;
}

.cabecalho-menu-item{
    color: white;
    font-weight: 200;

    font-family: "Roboto Slab", serif; 
    font-weight: 400;  
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    transition: .3s;                                                                                         
  }

  .cabecalho-menu-item:hover{
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-family: "Roboto Slab", serif; 
    font-weight: 400;        
    overflow: hidden;
    text-decoration:underline;
    transform: scale(1.1);  
    transition: 1.2s; 
  }
 

  


 main
/* HEADER */

.cabecalho {
    background-color:#570514;
}
.box {

   
    background-color: transparent;
    border: 0;
    color: white;

    background-color: transparent;
    border: 0;
    color: white;
    width: 1000px;

    
    
    }
    
    .Pesquisa {
        
    
        display: flex;
        width: 50%; 
        padding: 8px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        font-size: 16px; 
        outline: none;
        color: white;
     }



/*FORMULARIO*/

.container-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formato{
    display: flex;
    flex-direction: column;
    background-color:  #570514;
    border-radius: 8px;
    width: 700px;
}


.formato .titulo{
   padding: 24px 32px;
    font-size: 24px;
    border-bottom: thin solid #ccc;
}

.formato form{  
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.formato input, 
.formato textarea{
    width: calc(50% - 16px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #ccc;
    padding-left: 16px;
    margin-bottom: 16px;
}

.formato input:first-child{
    margin-right: 16px;

}

.formato input[name=subject]{
    width: 100%;
}

.formato textarea{
    width: 100%;
    height: 180px;
    padding: 16px;
}

.formato button{
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
}
.formato button:hover{
    background-color: #720415;
    color: #fff;
}

/*RODAPE*/

.rodape {
    margin-top: 50vh;
    text-align: center;
    padding: 24px;
    font-size: 1.25rem;
    background-color: grey;
    color: #fff;
}