@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
p{
  font-family: "Roboto Slab", serif; 
  font-weight: 400;  
}
a{
  font-family: "Roboto Slab", serif; 
  font-weight: 400;
}
.geral{
    background-color:#4B010F;
    background-color: #4B010F;
    background-color: #5F0311;
    background-color: #720415;
    color: white;
}

.pagina00{
    background-color:#720415
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 24px ;
    
}

.cabecalho-menu{
    display: flex;
    gap: 25px;
    padding-top: 30px;
    
}

.cabecalho-menu-item{
    color: white;
    font-weight: 200;
    font-family: "Roboto Slab", serif; 
    font-weight: 400;  
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    transition: .3s;
                                                                                              
    
  }
  
  .cabecalho-menu-item:hover{
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-family: "Roboto Slab", serif; 
    font-weight: 400;        
    overflow: hidden;
    text-decoration:underline;
    transform: scale(1.1);  
    transition: 1.2s; 
  }

.cabecalho {
    background-color:#570514;
}
.box {
    background-color: transparent;
    border: 0;
    color: white;
    width: 1000px;
    
    
    }
    
    .Pesquisa {
        
    
        display: flex;
        width: 50%; 
        padding: 8px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        font-size: 16px; 
        outline: none;
        color: white;
     }


.opcao{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}


.conteudo_sugestao p{
    color:white;
    font-family: "Roboto Slab", serif; 
    font-size: 19px;
    text-align:left;
    padding: 15px;
    margin: 20px;
}



.conteudo_sugestao a{
    color:lightsteelblue ;
    font-family: "Roboto Slab", serif; 
    font-size: 19px;
    text-decoration:solid;
}
/*RODAPE*/

.rodape2 {
    margin-top: 42%;
    text-align: center;
    padding: 24px;
    font-size: 1.25rem;
    background-color: rgb(17, 17, 17);
    color: #f4f4f4;
}


/* Pagina de sugestões */


#opcao option {
    background-color: rgb(255, 214, 213);
    color: rgb(84, 3, 23);
    font-family: Arial, sans-serif;
    font-size: 16px;
    
  }
  
#textoEscolhido {
    margin-top: 20px;
  }
  

.selecao-vinhos:has(li:hover) li:not(:hover) {
    filter: blur(4px)
  }

.selecao {
    font-size: 2.2rem;
    color: var(--primary-color);
    margin: 0 0 2rem;  
  }
  
h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
.selecao-vinhos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
li {
    margin: 0;
    transition: all 150ms ease-in-out;
  }
  
li::before {
    content: "";
  }
  
.imagen-vinho{
    display: block;
    min-width: 0;
    width: 94%; /* Altere este valor para ajustar o tamanho da imagem */
    margin-bottom: .6rem;
}

